# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Supabase BBDD & Auth
SUPABASE_URL=https://diuupcgqecxcbesfkxoq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRpdXVwY2dxZWN4Y2Jlc2ZreG9xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ1Nzk3ODAsImV4cCI6MjEwMDE1NTc4MH0.aOWY9X5BJerw3fzm8CobO_zNEmJR2XfmBJL-Ebj9Dqw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRpdXVwY2dxZWN4Y2Jlc2ZreG9xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDU3OTc4MCwiZXhwIjoyMTAwMTU1NzgwfQ.VXOHNP0w-03frss7zFem2gJUIBH8jOWczhthaQInXWA
# Resend Email Service
RESEND_API_KEY=re_MaA1JE3Y_Gt3GPQtPNmjktRurCpw6enKE
RESEND_FROM_EMAIL=reservas@omikika.cl
ADMIN_EMAIL=reservas@omikika.cl

# Autenticación JWT Admin (Secreto para firmar tokens)
JWT_SECRET=tu_secreto_super_seguro_jwt_omikika_2026
